#root>div>h3 {
  margin: 20px 20px 0;
}

.buffAndPotionLayout {
  padding: 10px;
  border-bottom: 2px solid black;
  display: grid;
  grid-template-columns: auto auto
}

.buffAndPotionLayout h3 {
  margin: 0;
}

.buffAndPotionLayout div {
  display: inline-block;
  margin: 0;
  overflow: hidden;
}

#stateLayout {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.playerStateLayout,
.bossStateLayout {
  padding: 5px;
  width: 45vw;
}

.playerStateLayout>*,
.bossStateLayout>div:first-of-type>* {
  margin: 10px;
}

.playerStateLayout>div:last-of-type {
  margin-bottom: 0px;
}

.playerStateLayout>div:last-of-type>p {
  margin-bottom: 0px;
}

.blockByCeiling {
  color: red
}

.damageNumber {
  flex: 1;
  margin: 10px 0 0 0;
}